*
# must include .gitignore itself.
!.gitignore

# global git configuration (core.username, email, alias, etc.)
!.gitconfig

# README file
!README.md

# custom fish config (alias, etc)
!.config
!.config/fish
!.config/fish/config.fish

# vim configurations
!.vimrc
!.vim
!.vim/deinrc.vim
!.vim/deoplete.vim
!.vim/solarized.vim
!.vim/after
!.vim/after/ftplugin
!.vim/after/ftplugin/swift.vim

# install script
!install.sh
